<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DailyGoal</key>
	<integer>2000</integer>
	<key>ShortcutCupCount</key>
	<integer>4</integer>
	<key>ReminderEnable</key>
	<false/>
	<key>Reminders</key>
	<array/>
</dict>
</plist>
